html, body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.nav-link{
    border-radius: 15px 15px 0px 0px !important;
}

.radi-tl-15{
    border-top-left-radius: 15px !important;
}

.radi-tr-15{
    border-top-right-radius: 15px !important;
}

.radi-t-15{
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}

.radi-bl-15{
    border-bottom-left-radius: 15px !important;
}

.radi-br-15{
    border-bottom-right-radius: 15px !important;
}

.radi-b-15{
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
}

.radi-all-15{
    border-radius: 15px !important;
}

.pad-n{
    padding: 0px 0px !important;
}

.br-word{
    white-space: nowrap; 
    width: 100%; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.bold{
    font-weight: bold !important;
}

.no-bold{
    font-weight: normal !important;
}

.remove-bullet{
    list-style-type: none;
}

.chapter-list{
    list-style:none;
    max-height:500px;
    margin:0;
    overflow:auto;
    padding:0;
    text-indent:10px;
}

.chapter-image{
    min-width: 100%;
    max-width: 100%;
}

button:hover, button:focus {
    outline: none !important;
}

.add-genres, .remove-genres{
    display: none;
}

#sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.nav-item {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
}

.nav-item:hover {
    color: #f1f1f1 !important;
}

.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 15px;
}

.footer {
    margin-left: 200px; /* Same as the width of the sidenav */
    position:fixed;
    width: 100%;
    bottom: 0;
}

.no-hover{
    text-decoration:none !important;
}

.ts-25{
    font-size: 25px;
}

.align-center{
    text-align-last:center;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button{
    display: none;
}

.help-block{
    color: #b32d00 !important;
}