.text-color1{
    color: black !important; 
}

.text-color2{
    color: #1D88AA !important;
}

.text-color3{
    color: white !important;
}

.text-color4{
    color: #E35201 !important;
}

.text-color5{
    color: #3C8900 !important;
}

.text-color6{
    color: #333333 !important;
}

.background-color1{
    background-color: black !important;
}

.background-color2{
    background-color: #1D88AA !important;
}

.background-color3{
    background-color: #333333 !important;
}

.background-color4{
    background-color: #E35201 !important;
}

.background-color5{
    background-color: #3C8900 !important;
}

